*.html
*~
eshell/history
eshell/lastdir
.last-package-update-day
.cache/
.lsp-session-v1
eshell/
projectile-bookmarks.eld
projects
transient/
elpa/
/tramp
/url/
/workspace/
/eclipse.jdt.ls/
/.org-id-locations
/.dap-breakpoints
